<?xml version="1.0" encoding="UTF-8"?>
<root>
	<AnalogueModels>
		<AnalogueModel type="UnitDisc">
			<parameter name="range" type="double" value="300"/>
		</AnalogueModel>
	</AnalogueModels>
	<Decider type="Decider80211p">
		<!-- The center frequency on which the phy listens-->
		<parameter name="centerFrequency" type="double" value="5.90e9"/>
	</Decider>
</root>
